<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
      M983832
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="exp">
  <div class="a-h100">
    <ion-slides [options]="option" pager="true" class="ion-no-margin w100">
      <ion-slide class="w100">
        <ion-card class="ion-no-margin w100">
          <ion-card-header class="ion-no-padding w100">
            <img src="assets/img/nazi1.jpg" class="w100">
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide class="w100">
        <ion-card class="ion-no-margin w100">
          <ion-card-header class="ion-no-padding w100">
            <img src="assets/img/nazi1.jpg" class="w100">
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide class="w100">
        <ion-card class="ion-no-margin w100">
          <ion-card-header class="ion-no-padding w100">
            <img src="assets/img/nazi1.jpg" class="w100">
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide class="w100">
        <ion-card class="ion-no-margin w100">
          <ion-card-header class="ion-no-padding w100">
            <img src="assets/img/nazi1.jpg" class="w100">
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-card class="curve-card ion-padding">
      <div class="ion-padding">
        <ion-title class="ion-no-padding">
          {{ex.name}}
        </ion-title>
        <ion-text>
          {{ex.specification}}
        </ion-text>
      </div>
    </ion-card>
    <!-- <div class="ion-padding">
    <div class="link-a" (click)="goToR()">Go to Daily Recommendations</div> -->
  <!-- </div> -->
</div>
</ion-content>