<ion-content>
  <div class="bg">
   <ion-title class="title">
   My Matches
   </ion-title>
   <ion-text class="sub-title">
     {{profileList.length}} Profiles pending with me 
     <ion-button class="new" shape="round" fill="outline" color="light" (click)="goToR()">5 New</ion-button>
   </ion-text>
  </div>
</ion-content>
<ion-footer>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide *ngFor="let penProfile of profileList">
      <ion-card>
        <ion-card-header class="ion-no-padding">
          <img src="assets/img/nazi1.jpg" #tapCard>
          <!-- <img [src]="penProfile.profileImage" alt="profile"> -->
        </ion-card-header>
        <ion-card-content>
          <ion-title class="ion-no-padding">
            {{penProfile.name}}
          </ion-title>
          <ion-text>
            {{penProfile.specification}}
          </ion-text>
          <br>
          <ion-button class="primary yn" (click)="viewProfile(penProfile)">Yes</ion-button>
          <ion-button class="secondary yn">No</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-footer>